<%- include('parts/header') %>
<div class="c-browserWindow">
  <div class="c-browserWindow__topBar">
    <%- include('elements/pathfinder', { path:  path }) %>
    <h1 class="c-browserWindow__title">FILER</h1>
    <a class="c-browserWindow__upload"><span class="material-icons c-browserWindow__upload-icon">cloud_upload</span> Upload</a>
  </div>
  <div class="c-browserWindow__objectWindow">
    <% if (!(path == '' || path == '/')) { %>
      <%- include('elements/object-box', { object: {
        type: '..',
        'basename': '..'
      } }) %>
    <% } %>
    <% listing.forEach(function (object) { %>
      <%- include('elements/object-box', { object: object }) %>
    <% }); %>
  </div>
</div>
<%- include('elements/upload') %>
<%- include('parts/footer') %>