<%- include('parts/header') %>
<div class="c-browser-window">
  <div class="c-browser-window__top-bar">
    <%- include('elements/pathfinder', { path:  path }) %>
    <h1 class="c-browser-window__title">FILER</h1>
    <a class="c-browser-window__upload"><span class="material-icons c-browser-window__upload-icon">cloud_upload</span> <span class="c-browser-window__upload-text">Upload</span></a>
  </div>
  <div class="c-browser-window__object-window">
    <div class="c-browser-window__object-grid">
      <% if (!(path == '' || path == '/')) { %>
        <%- include('elements/object-box', { object: {
          type: '..',
          'basename': '..'
        } }) %>
      <% } %>
      <% listing.forEach(function (object) { %>
        <%- include('elements/object-box', { object: object }) %>
      <% }); %>
      </div>
  </div>
</div>
<%- include('elements/upload') %>
<%- include('parts/footer') %>